@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.navbar {
	background-color: none;
	color: white;
	height: 5em;
	display: flex;
	padding: 0.95em;
	justify-content: space-between;
	align-items: center;
}

.nav-bar-title {
	font-family: "Barlow", sans-serif;
	font-weight: 800;
	font-size: 2rem;
}

.menu-bars {
	color: white;
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
}

.menu-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.nav-menu {
	background-color: none;
	width: 250px;
	height: 4em;
	display: none;
	justify-content: center;
}

.nav-menu.active {
	display: flex;
	position: absolute;
	z-index: 100;
	text-align: center;
	top: 115px;
	width: 80%;
	height: 18.75rem;
	background-color: white;
}

.nav-menu.active::before {
	content: "";
	position: absolute;
	top: -30px;
	right: 0px;
	height: 30px;
	width: 30px;
	border-right: 100px;
	border-top: 50px solid transparent;
	border-right: 50px solid white;
	transform: rotate(0deg);
	background-color: transparent;
}

.nav-text a {
	font-family: "Barlow", sans-serif;
	font-weight: 600;
	color: hsl(232, 10%, 55%);
	text-decoration: none;
	font-size: 1.125rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px 16px;
	border-radius: 4px;
}

.nav-link a {
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	background-color: hsl(51, 100%, 49%);
	background-size: 100% auto;
	width: 100%;
	border-radius: 2rem;
	font-family: "Fraunces", serif;
	font-weight: 700;
	color: hsl(212, 27%, 19%);
}

/* .nav-text a:hover {
	background-color: aquamarine;
} */

.nav-menu-items {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

span {
	margin: 0 auto;
}

@media screen and (min-width: 600px) {
	.nav-menu.active {
		display: flex;
		background-color: transparent;
		height: auto;
		top: 20px;
		width: 100%;
	}

	.nav-menu.active::before {
		display: none;
	}

	.menu-bars {
		display: none;
	}

	.nav-menu-items {
		width: 93%;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: row;
	}

	.nav-text a {
		margin-left: 0.65rem;
		color: white;
	}

	.nav-link a {
		width: 0%;
		margin-left: 0.65rem;
		background-color: white;
	}

	.nav-link a:hover {
		color: white;
		background-color: hsl(198, 100%, 68%);
	}
}

@media screen and (max-width: 600px) {
	.desktop-nav {
		display: none;
	}
}
